<nav class="navbar navbar-expand-lg navbar-dark bg-black py-3">
    <div class="container">
        <a class="navbar-brand fs-2 fw-light" asp-controller="Home" asp-action="Index">
            <i class="fas fa-spa me-2"></i>NOIRE ESSENCE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fragrancesDropdown" role="button" data-bs-toggle="dropdown">
                        Fragrances
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Floral</a></li>
                        <li><a class="dropdown-item" href="#">Oriental</a></li>
                        <li><a class="dropdown-item" href="#">Woody</a></li>
                        <li><a class="dropdown-item" href="#">Fresh</a></li>                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Story">Our Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Boutiques</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="btn btn-outline-light" href="#">
                        <i class="fas fa-user"></i> Account
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>